.site-content{
    padding: 1em;

    @include medium{
        max-width: $size__max-width;
        margin: 0 auto;
        padding: 2em;
    }
}

.post-content__wrapper{

    @include medium{
        display: flex;
        justify-content: space-between;
    
        .post-content__body{
            width: 70%;
        }
    
        .entry-meta{
            width: 20%;
        }
    }
    
}

@include medium{
    .has-sidebar{
       
        .hentry{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .post-content{
                width: $size__post-width;
            }
    
            .widget-area{
                width: $size__sidebar-width;
            }
        }
    }   
} 