.site-footer{
    background-color: $color__skin;
    display: flex;
    padding: 2%;

    .site-info{
        color: #FFF;

        a{
            text-decoration: none;
            color: #FFF;

            &:hover,
            &:focus{
                text-decoration: underline;
            }
        }

    }
    .social-media{
        margin-left: auto;
    }
    .social-buttons{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .menu-item{
            a{
                text-decoration: none;
                color: #FFF;
                padding: 0 15px;
            }
        }
    }
}