$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__max-width: 992px;
$size__post-width: 65%;
$size__sidebar-width: 30%;
$size__full-width: 100%;

$small_breakpoint: 576px;
$medium_breakpoint: 768px;
$large_breakpoint: 992px;
$extra_large_breakpoint: 1200px;
